<td-layout>
  <td-navigation-drawer flex sidenavTitle="Test1">
    <mat-nav-list>
      <a [routerLink]="['/']"  mat-list-item><mat-icon>home</mat-icon>Dashboard</a>
    </mat-nav-list>
  </td-navigation-drawer>
  <td-layout-nav  color="accent">
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <button mat-icon-button td-menu-button tdLayoutToggle>
        <mat-icon>menu</mat-icon>
      </button>
      <span [routerLink]="['/']" class="cursor-pointer">Test1</span>
      <span flex></span>
      <button mat-icon-button
              x-position="before"
              [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a [routerLink]="['/authentication/login']" mat-menu-item *ngIf="!isLoggedIn">
          Login
        </a>
        <a [routerLink]="['/authentication/register']" mat-menu-item *ngIf="!isLoggedIn">
          Register
        </a>
        <a [routerLink]="['/profile/my-profile']" mat-menu-item *ngIf="isLoggedIn">
          My profile
        </a>
        <mat-divider *ngIf="isLoggedIn"></mat-divider>
        <button (click)="logout()" mat-menu-item *ngIf="isLoggedIn">
          Logout
        </button>
      </mat-menu>
    </div>
    <router-outlet></router-outlet>
  </td-layout-nav>
</td-layout>

