$mat-font-url: '../../node_modules/@covalent/core/common/styles/font/';
@import "../../node_modules/@covalent/core/common/styles/font/font";
@import "../../node_modules/@covalent/core/common/styles/variables";
@import "../../node_modules/@covalent/core/common/styles/button";
@import "../../node_modules/@covalent/core/common/styles/card";
@import "../../node_modules/@covalent/core/common/styles/card-colored";
@import "../../node_modules/@covalent/core/common/styles/chips";
@import "../../node_modules/@covalent/core/common/styles/content";
@import "../../node_modules/@covalent/core/common/styles/divider";
@import "../../node_modules/@covalent/core/common/styles/icons";
@import "../../node_modules/@covalent/core/common/styles/input";
@import "../../node_modules/@covalent/core/common/styles/mixins";
@import "../../node_modules/@covalent/core/common/styles/navigation-drawer";
@import "../../node_modules/@covalent/core/common/styles/theme-functions";
@import "../../node_modules/@covalent/core/common/styles/palette";
@import "../../node_modules/@covalent/core/common/styles/palette-dark";
@import "../../node_modules/@covalent/core/common/styles/colors";
@import "../../node_modules/@covalent/core/common/styles/colors-dark";
@import "../../node_modules/@covalent/core/common/styles/layout";
@import "../../node_modules/@covalent/core/common/styles/list";
@import "../../node_modules/@covalent/core/common/styles/structure";
@import "../../node_modules/@covalent/core/common/styles/shadows";
@import "../../node_modules/@covalent/core/common/styles/sidenav";
@import "../../node_modules/@covalent/core/common/styles/toolbar";
@import "../../node_modules/@covalent/core/common/styles/typography";
@import "../../node_modules/@covalent/core/common/styles/whiteframe";
@import "../../node_modules/@covalent/core/common/styles/utilities/utilities";

$app-content-lg: 940px;
$app-content-md: 580px;
$app-content-sm: 360px;
