<mat-card tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
  <mat-card-title>Sample list</mat-card-title>
  <mat-card-subtitle>You are on an authentified page</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <ng-template tdLoading="samples" tdLoadingStrategy="overlay">
      <div layout="row">
        <mat-icon class="push-top push-right-sm">search</mat-icon>
        <mat-form-field floatPlaceholder="never" flex>
          <input matInput
                 [ngModel]="filter"
                 (ngModelChange)="changeFilter($event)"
                 placeholder="Filter samples">
        </mat-form-field>
      </div>
      <div class="md-padding" *ngIf="subject.getValue() && subject.getValue().length == 0" layout="row" layout-align="center center">
        <h4>No samples to display.</h4>
      </div>
      <div *ngIf="subject.getValue() && subject.getValue().length > 0">
        <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
          <ng-container matColumnDef="value">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Value </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.value}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="creationTime">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Created </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.creationTime | timeAgo}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="lastModificationTime">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Modified </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span *ngIf="row.lastModificationTime">{{row.lastModificationTime | timeAgo}}</span>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.text-align]="'right'">
              <button mat-icon-button
                      x-position="before"
                      [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <a [routerLink]="['/samples/edit', row.id]" mat-menu-item>
                  Edit
                </a>
                <button (click)="deleteItem(row)" mat-menu-item>
                  Delete
                </button>
              </mat-menu>
            </mat-cell>
          </ng-container>
          <mat-header-row *cdkHeaderRowDef="columnKeys"></mat-header-row>
          <mat-row *cdkRowDef="let row; columns: columnKeys;"
                   class="highlight"
                   (click)="select(row)">
          </mat-row>
        </mat-table>
        <mat-paginator [length]="length"
                       [pageSize]="pageSize"
                       [pageSizeOptions]="[5, 10, 20, 100]"
                       (page)="changePage($event)">
        </mat-paginator>
      </div>
    </ng-template>

    <mat-divider></mat-divider>
    <button type="button" mat-button color="primary" (click)="logout()">LOGOUT</button>
    <button type="button" mat-button color="primary" (click)="test()">TEST</button>
  </mat-card-content>
</mat-card>

<a mat-fab
   color="accent"
   class="mat-fab-bottom-right fixed"
   style="z-index:5000"
   [routerLink]="['/samples/add']">
  <mat-icon>add</mat-icon>
</a>
