
<mat-card tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
  <ng-template tdLoading="sample">
    <mat-card-title>Sample view</mat-card-title>
    <mat-card-subtitle>You are on an authentified page</mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div layout="row" layout-margin layout-wrap>
        <div flex>
          <mat-list>
            <mat-list-item title="Value">
              <mat-icon mat-list-icon>info</mat-icon>
              <h4 mat-line> {{sample.value}}</h4>
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
        </div>
      </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <a [routerLink]="['/samples/edit', sample.id]" mat-button color="primary">EDIT</a>
      <button type="button" mat-button (click)="cancel()">CANCEL</button>
    </mat-card-actions>
  </ng-template>
</mat-card>
